<nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
    <div id="navbarTogglerDemo01">
      <div class="row">
        <div class="col-circulos col-lg-2 col-xl-2">
          <div class="circulo1"></div>
          <div class="circulo2"></div>
          <div class="circulo3"></div>
          <div class="circulo4"></div>
        </div>
        <div class="col-collapse col-3 col-sm-3 col-md-3 col-lg-1 col-xl-1">
          <button class="border rounded-3 p-1 text-decoration-none button-nav" type="button" data-bs-toggle="collapse" data-bs-target="#externalNav" aria-controls="externalNav">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="col-titulo col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
          <h1>
            Los Animales
          </h1>
        </div>
        <div class="col-burbujas burbujas col-3 col-sm-3 col-md-3 col-lg-3  col-xl">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
</nav>
