<div class="card">
    <div class="container">
        <div class="row filas">
            <div class="col-5"></div>
            <div class="col-2 col-nodo text-center">
                <span>Animales</span>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row filas">
            <div class="col-5"></div>
            <div class="col-1 col-arista-izquierda"></div>
            <div class="col-1 col-arista-derecha"></div>
            <div class="col-5"></div>
        </div>
        <div class="row filas">
            <div class="col-5"></div>
            <div class="col-1 col-arista-izquierda"></div>
            <div class="col-6 col-arista-derecha text-right">
                <span>se clasifican en:</span>
            </div>
        </div>
        <div class="row filas">
            <div class="col-2 col-arista-izquierda"></div>
            <div class="col-8 col-arista-central"></div>
            <div class="col-2 col-arista-derecha"></div>
        </div>
        <div class="row filas">
            <div class="col-1"></div>
            <div class="col-2 col-nodo text-center">
                <span>Vertebrados</span>
            </div>
            <div class="col-6"></div>
            <div class="col-2 col-nodo text-center">
                <span>Invertebrados</span>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row filas">
            <div class="col-2 col-arista-izquierda"></div>
            <div class="col-8 col-arista-central-sin-top text-left"></div>
            <div class="col-2 col-arista-derecha text-left"></div>
        </div>
        <div class="row filas">
            <div class="col-2 col-arista-izquierda"></div>
            <div class="col-8 col-arista-central-sin-top text-left">
                pueden ser:
            </div>
            <div class="col-2 col-arista-derecha text-left">
                pueden ser:
            </div>
        </div>
        <div class="row filas">
            <div class="col-1">
                <img src="../../../../../assets/mamiferos.png" alt="Mamíferos" height="" width="" title="Mamíferos" id="mamiferos">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/reptiles.png" alt="Reptiles" height="" width="" title="Reptiles" id="reptiles">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/peces.png" alt="Peces" height="" width="" title="Peces" id="peces">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/aves.png" alt="Aves" height="" width="" title="Aves" id="aves">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/anfibios.png" alt="Anfibios" height="" width="" title="Anfibios" id="anfibios">
            </div>
            <div class="col-2"></div>
            <div class="col-1">
                <img src="../../../../../assets/antropodos.png" alt="Artrópodos" height="" width="" title="Artrópodos" id="artropodos">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/moluscos.png" alt="Moluscos" height="" width="" title="Moluscos" id="moluscos">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/equinodermos.png" alt="Equinodermos" height="" width="" title="Equinodermos" id="equinodermos">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/poriferos.png" alt="Poríferos" height="" width="" title="Poríferos" id="poriferos">
            </div>
            <div class="col-1">
                <img src="../../../../../assets/cnidarios.png" alt="Cnidarios" height="" width="" title="Cnidarios" id="cnidarios">
            </div>
        </div><br><br><br>
        <div class="row">
            <div class="col-12 col-texto">
                <p>
                    Los animales son seres vivos porque nacen, crecen, respiran, se alimentan, se reproducen y mueren. Se clasifican de acuerdo a su forma de alimentarse y si tienen esqueleto articulado o no.
                </p>
            </div>
        </div>
    </div>
</div>

